.view {
    width: 240px;
    text-align: center;
    background-size: cover !important;
    background-repeat: none !important;
    background-position: center !important;
    color: white;
    padding: 15px;
    transition: all 2s;
    box-shadow: 1px 10px 20px #333;
    margin-top: 20px;
}

.view:hover {
    cursor: pointer;
    background-size: cover !important;
    background-repeat: none !important;
    background-position-x: -100px !important;
    box-shadow: 1px 5px 10px #333;
    transform: scale(0.99);
}

.city-weather-info {
    padding: 5px;
    font-style: italic;
}

.city h1 {
    margin-bottom: 30px;
}

.weather-info {
    margin-bottom: 30px;
}

.weather-info p {
    margin: 0;
}

.icons {
    margin-top: 10px;
}

.icon {
    font-size: 16px;
    border-right : 1px solid orangered;
}

.iconnone {
    border: none;
}

.icons p {
    margin-bottom: 0;
}

.description {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.description p {
    width: 100%;
}

.btn-fav {
    width: 100%;
    font-size: 12px;
    padding: 1px auto;
    letter-spacing: 2px;
    background-color: transparent;
}

.btn-fav:hover {
    background-color: rgba(0, 0, 0, 0.3);
}